
<p>Effettua il login e accedi al portale</p>
<form (submit)="onLogin()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" [(ngModel)]="username" class="" name="username" placeholder="Username"  />  
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" [(ngModel)]="password" class="" name="password" placeholder="Password" >
  </div>

  <button type="submit" class="btn btnPienoGreen  text-center w-100" style="margin: 0 auto;">Accedi</button>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</form>