
<div class="container-fluid" id="formRicerca">
  <p class="text-center">Cerca i tuoi vini</p>
  <hr class="hrForm">
  <form class="formRicerca">
    <div class="modal-dialog modal-dialog-centered">

</div>
      <div
  class="mb-3 suggestion-container d-flex gap-2 align-items-center"
  *ngFor="let input of viniInputs; let i = index"
>
  <div class="pallino align-middle text-center">{{ i + 1 }}</div>
  <input
    type="text"
    [(ngModel)]="input.query"
    (input)="onSearch(i)"
    [id]="'vino' + (i + 1)"
    name="query{{ i }}"
    class="form-control input-seggestion"
    placeholder="nome vino"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    title="Tooltip on top"
  />
  <ul *ngIf="input.suggerimenti.length > 0" class="suggestion-list">
    <li
      *ngFor="let vino of input.suggerimenti"
      (click)="onSelect(vino, i)"
      class="suggestion-item list-group-item list-group-item-action"
    >
      NOME: {{ vino.nome }} - CANTINA: {{ vino.cantina }}
    </li>
  </ul>
</div>  
      <div class="d-flex justify-content-between">
      <button type="submit" id="submit"  class="btn btnGreen text-white" (click)="generaSequenza()">
        <p class="reset-spazi">Genera sequenza</p>
      </button>
      <button type="reset"  id="reset" class="btn  backgroundRed text-white" (click)="reset()">
        <p class="reset-spazi">reset campi</p>
      </button>
      </div>  
      <hr class="hrForm">
      <div class="text-center mt-3 justify-content-between">
        <a class="btnOption text-black text-decoration-none d-inline-flex  d-flex justify-content-between gap-2" [routerLink]="['cibo-e-vino']" id="btnOption">
            Aggiungi più vini alla ricerca
        <i class="material-icons">add_circle</i>
  </a>
</div>
    </form>
  </div>
